@import '../../../styles/colors';
@import '../../../styles/elements';

.ffh-status {
    align-items: center;
    border-radius: 12px;
    display: flex;
    font-size: 13px;
    font-weight: bold;
    height: 24px;
    justify-content: center;
    width: 120px;

    &.ready, &.assigned {
        @extend %status-ready;
    }

    &.distribution {
        @extend %status-distribution;
    }

    &.delivered {
        @extend %status-delivered;
    }

    &.exception {
        @extend %status-exception;
        margin: 0 12px;
        width: 89px;
        background-color: #cc3528;
        color: #ffffff;
    }

}