.users-container {
    .sc-gtssRu.gfcMwa.rdt_TableHead {
        width: 98.9%;
    }
    .ffh-area-selection {
        margin-left: 15px;
    }

    .cities-filter {
        .ffh-area-selection {
            width: 280px;
        }
    }
}