@import '../../styles/colors';

.userForm {
  width: 640px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  .userFormField {
    border: 0;
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    .input {
      height: 40px;
      width: 280px;
    }

    .label {
      margin-bottom: 10px ;
      font-weight: bold;
    }
    &.notes {
      width: 100%;
       textarea {
         border: 1px solid $grey-mid;
         width: 100%;
       }
     }
  }

  .availableDays {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;

    .daySelection {
      margin: 7px;
      min-width: 72px;
      width: auto;
      height: 36px;
      font-size: 16px;
      text-align: center;
      padding: 10px 15px;
      border-radius: 18px;
      border: solid 1px $grey-mid;
      cursor: pointer;

      &.selected {
        border-width: 2px;
        border-color: $orange;
        color: $orange;
        font-weight: bold;
        padding: 8px 12px;
      }
    }


  }
}

