@import "../../styles/colors";

.fhh-userlist-item {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 60px;
  overflow: hidden;
  padding: 0 23px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fhh-userlist-item__initials {
  align-items: center;
  background-color: $grey-mid;
  border-radius: 50%;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  height: 36px;
  justify-content: center;
  margin-left: 13px;
  width: 36px;
}

.fhh-userlist-item {
  &.selected {
    background-color: $blue;
    .fhh-userlist-item__name {
      color: $white;
    }
  }
}
