@import '../WidgetsGlobal';
.in-delivery-container {
    @extend .widget-border;
    max-width: 360px;
    height: 300px;
    min-width: 248px;
    padding: 26px;
    margin-top: 48px;
    padding-left: 0px;
    padding-bottom: 0px;
    .in-delivery-header {
        .in-delivery-title {
            @extend .widget-number-title;
        }
        .in-delivery-sub-title {
            cursor: pointer;
            display: flex;
            padding-top: 5px;
            line-height: 1;
            .arrow-all-in-delivery {
                margin-right: 3px;
                width: 8px;
                height: 11px;
                padding: -1px;
                padding-top: 2px;
            }
        }
    }
    .in-delivery-body {
        @extend .widget-sub-number-title;
        @extend .thin-scroller;
        margin-top: 15px;
        overflow: auto;
        height: 200px;
        padding-left: 36px;
        padding-bottom: 26px;
        .city-value {
            display: flex;
            justify-content: space-between;
            margin-top: 17px;
            border-bottom: 3px solid #d5f0fa;
        }
    }
}