@import "../../../styles/colors";
@import "../../../styles/elements";

.ffh-user-form {
  width: 640px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
.ffh-user-form-field {
  border: 0;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 48%;

  // &.username {
  //   width: 100%;
  //   .ffh-user-form-field__input {
  //     width: 48%;
  //   }
  // }

  &.deliveryDays {
    flex: auto;
    .label {
      margin-right: 10px;
    }
  }

  &.notes {
    width: 100%;
    textarea {
      border: 1px solid $grey-mid;
      width: 100%;
      margin-bottom: 10px;
    }
  }
}
.ffh-user-form-field__input {
  &.empty {
    visibility: hidden;
  }
    @extend %input;
    outline: 0;
}

.label {
  margin-bottom: 10px;
  font-weight: bold;
}

.availableDays {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.daySelection {
  margin: 7px;
  width: auto;
  height: 36px;
  font-size: 16px;
  text-align: center;
  padding: 10px 15px;
  border-radius: 18px;
  border: solid 1px $grey-mid;
  cursor: pointer;
  width: 100%;
  white-space: nowrap;

  &.selected {
    border-width: 2px;
    border-color: $orange;
    color: $orange;
    font-weight: bold;
    padding: 8px 12px;
  }
}

.deliveryArea {
  .ffh-dropdown__items-container {
    height: auto;
    max-height: 300px;
    overflow: scroll;
    width: 100%;
  }
  .ffh-dropdown,
  .ffh-dropdown > .ffh-dropdown__button,
  .ffh-dropdown__screen {
    height: 40px;
    border-radius: 0;
    margin-left: 0;
    border-color: $grey-mid;
    width: 100%;
  }
}
