@import '../../../styles/colors';
@import '../../../styles/elements';

.ffh-upload-button {
    @extend %ffh-toolbar-button;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-left: 9px;
    min-width: 142px;
 }

.ffh-upload-button__input {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}