$dark-blue: #0d1e8f;
$blue: #0d25be;
$orange: #fd5b00;
$dark: #1d1d1f;
$grey: #5d5d5e;
$grey-mid: #dcdeea;
$grey-light: #f0f1fb;
$grey-bright: #f9faff;
$white: #ffffff;
$shadow: rgba(224, 224, 224, 0.5);

$header-gradient: linear-gradient(268deg, #5413a3 0%, #0d21a3 21%, #0d25be 49%, #0e76bc 100%);
