%ffh-toolbar-button {
    background-color: $white;
    border-radius: 4px;
    border: 1px solid $grey-mid;
    box-shadow: 0 1px 1px 0 #e5e5e5;
    color: $blue;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    margin-right: auto;
    white-space: nowrap;
    width: 8%;
    &:hover {
        background-color: $grey-light;
    }
}


%status-ready {
    background-color: $violet-pale;
    color: $violet;
}

%status-distribution {
    background-color: $cyan-pale;
    color: $cyan-dark;
}

%status-delivered {
    background-color: $green-pale;
    color: $green;
}

%status-exception {
    background-color: $red-pale;
    color:$red;
}

%input {
    border-radius: 4px;
    border: solid 1px #dee2e6;
    font-size: 16px;
    height: 40px;
    padding: 0 10px;
}
//Clears the button default styling
%button-reset {
    border: 0;
    background: none;
}


.ffh-form-field {
    margin: 15px 0;
    padding: 0;
  }

  .ffh-form-input {
    border-radius: 4px;
    border: solid 1px #dee2e6;
    height: 40px;
    min-width: 280px;
    width: 100%;
  }

  .ffh-form-textarea {
    border-radius: 4px;
    border: solid 1px #dee2e6;
    min-width: 280px;
    width: 100%;
  }

  .ffh-form-label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
  }