.react-toast-notifications__container.css-1r4mxm9-ToastContainer {
    padding-top: 67px;
}

.react-toast-notifications__toast__icon-wrapper.css-3mfg68-Icon {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}