@import '../Widgets';
.last-week-container {
    @extend .widget-border;
    height: 300px;
    padding: 26px;
    margin-right: 20px;
    flex: 2;
    .last-week-header {
        .last-week-sub-title {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 8px;
            width: max-content;
            div {
                padding: 0px 5px 0px 3px;
            }
        }
    }
    .last-week-body-container {
        width: 100%;
        .recharts-wrapper {
            margin: auto;
        }
        .date-chart-container {
            position: relative;
            cursor: default;
            width: 300px;
            text-align: center;
            align-items: center;
            margin: auto;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            color: #525461;
            font-size: 12px;
            margin-top: -9px;
            padding-right: 7px;
            padding-left: 7px;
        }
    }
}