@import '../Widgets';
.last-week-container {
    @extend .widget-border;
    max-width: 360px;
    width: 360px;
    height: 300px;
    padding: 26px;
    margin-right: 20px;
    .last-week-header {
        .last-week-sub-title {
            display: flex;
        }
    }
    .last-week-body-container {}
}