.__rdt_custom_sort_icon__{
    margin-right: 4px;
    vertical-align: middle;
    svg {
        transition-duration: 0ms !important;
    }
}

.custom-num-of-page {
    font-family: 'Arimo', sans-serif, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    direction: ltr;
    margin-top: -35px;
    margin-left: 460px;
    font-size: 13px;
    color: rgba(0,0,0,0.54);
    font-size: 13px;
}
