.__rdt_custom_sort_icon__{
    margin-right: 4px;
    vertical-align: middle;
    svg {
        transition-duration: 0ms !important;
    }
}

.sc-fzXfMy.gWCGEL.rdt_TableBody {
    overflow-y: overlay;
}

@-moz-document url-prefix() {
    .sc-fzXfMy.gWCGEL.rdt_TableBody {
        overflow: hidden;
    }
}
