.name_container {
    display: flex;
    width: 100%;
    white-space: nowrap;
    justify-content: space-between;
    align-items: center;
}

.name_text {
    overflow: hidden;
    text-overflow: ellipsis;
}

.buttons-note-container {
    display: flex;
    .buttons_container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        visibility: hidden;
    }
    .note {
        margin-top: 5px;
    }
}

.rdt_TableRow {
    &:hover {
        .buttons_container {
            visibility: visible;
        }
    }
}

.rdt_TableCell {
    .name_container {
        white-space: pre-wrap;
    }
}