@import '../../../styles/colors';
@import '../../../styles/elements';

.ffh-modal__screen  {
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    height: 100vh;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
}

.ffh-modal {
  background: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  position:fixed;
}
.ffh-modal__header{
  align-items: center;
  display: flex;
  height: 72px;
  margin: 0;
  padding: 0 24px;
}

.ffh-modal__title {
  font-size: 21px;
  font-weight: bold;
}

.ffh-modal__icon {
  margin-left: 10px;
}

.ffh-modal__close {
  cursor: pointer;
  margin-right: auto;
}

.ffh-modal__actions {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 12px 24px;
}

%ffh-modal__action {
  @extend %button-reset;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  height: 40px;
  min-width: 100px;
  padding: 0 10px;
}

.ffh-modal__action--submit {
  @extend %ffh-modal__action;
  background-color: $blue;
  border-radius: 4px;
  color: $white;
  &:hover {
    background-color: $dark-blue;
  }
}
.ffh-modal__action--cancel {
  @extend %ffh-modal__action;
}

