@import '../../../styles/colors';

.modal {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.modal-main {
  position:fixed;
  padding: 25px;
  background: white;
  box-shadow: 0 4px 2px 0 rgba(23, 23, 23, 0.5);
  font-size: 14px;
}
.modal-header {
  font-size: 24px;
  padding-bottom: 20px;
  border-bottom: 2px solid $blue;
  margin: 0;
}
button {
  border: 0;
  background: none;
  font-size: 16px;
  color: $grey;
  cursor: pointer;
 &:focus {
    border: none;
    outline: none;
  }
}

.title {
  display: inline-block;
}

.modal-close {
  float: left;
  height: 32px;
  width: 32px;
}

.modal-button {
  float: left;
  height: 32px;
  width: 100px;
  background-color: blue;
  color: white;
}

.show {
  display: flex;
}

.hide {
  display: none;
}
.display-none {
  display: none;
}
