registry = "https://registry.npmjs.org/"
@com.att.bolt:registry=http://dockercentral.it.att.com:8093/nexus/repository/npm-group/
proxy = http://one.proxy.att.com:8080
https-proxy = http://one.proxy.att.com:8080
loglevel = warn
engine-strict = true
