@import '../../../styles/colors';
@import '../../../styles/elements';


.users-modal {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width:100%;
    z-index: 1;
  }

  .users-modal-main {
    background: white;
    box-shadow: 0 2px 4px 0 rgba(23, 23, 23, 0.5);
    font-size: 14px;
    position:fixed;
    right: 50%;
    transform: translateX(320px);
    top: 94px;
    width: 640px;
 }

  .users-modal-close{
    @extend %button-reset;
    cursor: pointer;
    height: 32px;
    left: 0;
    position: absolute;
    top: 0;
    width: 32px;
  }

  .users-modal-button{
    @extend %button-reset;
    background-color: $blue;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    float: left;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    margin: 12px;
    width: 100px;
    &:hover {
      background-color: $dark-blue;
    }
  }

  .users-display-block {
    display: block;
  }

  .users-display-none {
    display: none;
  }