@import "../../../styles/colors";
@import "../../../styles/elements";

.ffh-userlist-item {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 60px;
  overflow: hidden;
  padding: 0 23px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ffh-userlist-item__initials {
  align-items: center;
  background-color: $grey-mid;
  border-radius: 50%;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  height: 36px;
  justify-content: center;
  margin-left: 13px;
  width: 36px;
  &.color-1{
    @extend %status-ready;
  }
  &.color-2{
    @extend %status-distribution;
  }
  &.color-3{
    @extend %status-delivered;
  }
  &.color-4{
    @extend %status-exception;
  }
}

.ffh-userlist-item {
  &.selected {
    background-color: $blue;
    .ffh-userlist-item__name {
      color: $white;
    }
  }
}
