.ffa-button {
  height: 40px;
  width: 280px;
  border: solid 1px #0d25be;
  background-color: #0d25be;
  color: #ffffff;
  border-radius: 4px;
  font-size: 18px;
  width: auto;
  padding: 0 20px;
  cursor: pointer;
  margin-top: 10px;
}
