@import url('https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i&display=swap&subset=hebrew');

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  color: #1d1d1f;
  margin: 0;
  font-family: 'Arimo', sans-serif,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
