@import '../../styles/colors';

.application-download-page {
    color: $dark;
    text-align: center;
    width: 100%;
    height: 100%;

    .container {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .logo-container {
            margin-bottom: 10px;
        }

        .application-download-page_text {
            margin-bottom: 50px;
            width: 250px;
        }

        Button {
            height: 65px;
            width: 250px;

            .download {
                vertical-align: middle;
            }
        }
    }
}