@import '../../../styles/colors';
@import '../../../styles/elements';

.ffh-assign-button {
    @extend %button-reset;
    align-items: center;
    display: flex;
    margin-right: 0px;
    padding: 0;
    width: 100%;
 }
