@import '../../../styles/colors';
@import '../../../styles/elements';

.fhh-assign-button {
    @extend %fhh-toolbar-button;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-left: 9px;
    width: 64px;
    margin-right: 0px;
 }
